{% extends 'AcmeStoreBundle:Default:layout.html.twig' %}

{% block content %}
    <div class="alert alert-info">
        <p>Here is description for {{ product.name }}:</p>
        <p>{{ product.description }}</p>
    </div>
{% endblock %}