{% extends 'AcmeStoreBundle:Default:layout.html.twig' %}

{% block content %}
    <div class="alert alert-info">
        {% for product in products %}
            <p>{{ product.name }}'s description: {{ product.description }}</p>
        {% endfor %}
    </div>
{% endblock %}